#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}

.righthanditem {
  position: absolute;
  /* margin-top: 200px;
  margin-left: 250px; */
  z-index: 25;
}

.lefthanditem {
  position: absolute;
  /* margin-top: 300px;
  margin-left: 700px; */
  z-index: 25;
}

.expression {
  position: absolute;
  margin-top: 250px;
  margin-left: 393px;
  z-index: 50;
}

.mushroomParts {
  margin-top: 50px;
  margin-left: 50px;
  height: auto;
  position: absolute;
  z-index: 0;
}

.styleCard {
  border-radius: 8px;
  box-shadow: 0px 0px 8px #ccc;
  color: #253b56;
  margin: 15px 0px;
}

.mushroom {
  z-index: 0;
  margin-left: -100px;
}

.grandpa {
  display: flex;
}

.colorAndBody {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(4, 50px);
  border-radius: 8px;
  box-shadow: 0px 0px 8px #ccc;
  color: #253b56;
  margin: 15px 0px;
  margin-left: 1000px;
  height: 200px;
  margin-top: 100px;
  position: absolute;
}

.bodyPartButtons {
  align-items: flex-start;
  width: 33%;
  box-sizing: border-box;
  justify-content: flex-start;
  position: absolute;
  display: flex;

}

.colorsButtons {
  align-items: flex-start;
  width: 33%;
  box-sizing: border-box;
  justify-content: flex-start;
  margin-top: 100px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(5, 50px);
}


.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #fec5bb;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-right: 5px;
}

.btn:hover {
  background: #f2988a;
  text-decoration: none;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(4, 50px);
  border-radius: 8px;
  box-shadow: 0px 0px 8px #ccc;
  color: #253b56;
  margin: 15px 0px;
  height: 200px;
  margin-top: 100px;
  z-index: 100;

  /* width: 500px */
  /* align-items: flex-start; */
}




.createdMushroom {
  margin-top: 300px;
  margin-left: 100px;
  position: absolute;
  z-index: 10;
}

.mushroomExpression {
  margin-top: 370px;
  margin-left: 230px;
  position: absolute;
  z-index: 120;
}

.mushroomRightItem {
  margin-top: 330px;
  margin-left: 167px;
  position: absolute;
  z-index: 30;
}

.mushroomLeftItem {
  margin-top: 330px;
  margin-left: 310px;
  position: absolute;
  z-index: 30;
}

.cardExpression {
  margin-top: 120px;
  margin-left: -30px;
  position: absolute;
  z-index: 20;
}

.cardRightItem {
  margin-top: 80px;
  margin-left: -107px;
  position: absolute;
  z-index: 30;
}

.cardLeftItem {
  margin-top: 80px;
  margin-left: 50px;
  position: absolute;
  z-index: 30;
}

.cardMushroom {
  margin-top: 50px;
  margin-left: -160px;
  position: absolute;
  z-index: 10;
}

.child {
  align-items: flex-start;
  width: 33%;
  box-sizing: border-box;
  justify-content: flex-start;
  z-index: 200;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */