/* #root { */
/* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
/* text-align: center; */
/* } */
#body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
}

.adventureHeader {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  text-align: center;
}

.navbar {
  background-color: #d8e2dc;
  height: 175px;
  z-index: 4;
  display: flex;
}

.headerImg {
  z-index: 10;
  padding-top: 30px;
  padding-left: 65px;
}

.logoImg {
  height: 100px;
  width: auto;
}

.navButtons {
  margin-top: 85px;
  margin-left: 425px;
}

.righthanditem {
  position: absolute;
  margin-top: 200px;
  margin-left: 250px;
  z-index: 25;
}

.lefthanditem {
  position: absolute;
  margin-top: 200px;
  margin-left: 600px;
  z-index: 25;
}

.expression {
  position: absolute;
  margin-top: 250px;
  margin-left: 393px;
  z-index: 50;
}

.mushroomParts {
  margin-top: 50px;
  margin-left: 50px;
  height: auto;
  position: absolute;
  z-index: 0;
}

.sendToKingdomBtn {
  margin-left: 43.5%;
  background-color: rgb(83, 131, 128);
  color: white;
  border: none;
  width: 180px;
  height: 50px;
  font-size: 17px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
}

/* .adventurePhoto {
  display: flex;
  justify-content: center;
  align-items: center;

} */

.backgroundImg {
  z-index: 0;
  width: 100%;
  height: auto;
}



.styleCard {
  border-radius: 8px;
  box-shadow: 0px 0px 8px #ccc;
  color: #253b56;
  margin: 15px 0px;
}

.mushroom {
  z-index: 0;
  margin-left: -180px;
  margin-top: 20px;
}

.grandpa {
  display: flex;
}

.colorAndBody {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(4, 50px);
  border-radius: 8px;
  box-shadow: 0px 0px 8px #ccc;
  color: #253b56;
  margin: 15px 0px;
  margin-left: 950px;
  height: 250px;
  width: 200px;
  margin-top: 150px;
  position: absolute;
  z-index: 100;
}

.bodyPartButtons {
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: flex-start;
  position: absolute;
  display: flex;
  margin-top: 23px;
  margin-left: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;

}

.bodyPartButton {
  border-radius: 8px;
  color: #ffffff;
  font-size: 12px;
  background: #fec5bb;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-color: #f2988a;
  margin-right: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
}



.colorsButtons {
  align-items: flex-start;
  width: 33%;
  box-sizing: border-box;
  justify-content: flex-start;
  margin-top: 70px;
  margin-left: 24px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(5, 50px);

}

.colorCircles {
  border-radius: 50%;

}


.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #fec5bb;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-right: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
}


.btn:hover {
  background: #b86154;
  text-decoration: none;
}

.locationButton {
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  background: #fec5bb;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-color: #f2988a;
  margin-right: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
}

.parent {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(4, 50px);
  border-radius: 8px;
  box-shadow: 0px 0px 8px #ccc;
  color: #253b56;
  margin: 15px 0px;
  height: 220px;
  width: 180px;
  margin-top: 60px;
  margin-left: 200px;
  z-index: 100;
}

.child {
  align-items: flex-start;
  width: 33%;
  box-sizing: border-box;
  justify-content: flex-start;
  margin-top: 10px;
}


.createdMushroom {
  margin-top: 300px;
  margin-left: 100px;
  position: absolute;
  z-index: 10;
}

.mushroomExpression {
  margin-top: 370px;
  margin-left: 230px;
  position: absolute;
  z-index: 120;
}

.mushroomRightItem {
  margin-top: 330px;
  margin-left: 167px;
  position: absolute;
  z-index: 30;
}

.mushroomLeftItem {
  margin-top: 330px;
  margin-left: 310px;
  position: absolute;
  z-index: 30;
}

.cardExpression {
  margin-top: 120px;
  margin-left: -30px;
  position: absolute;
  z-index: 20;
}

.cardRightItem {
  margin-top: 80px;
  margin-left: -107px;
  position: absolute;
  z-index: 30;
}

.cardLeftItem {
  margin-top: 80px;
  margin-left: 50px;
  position: absolute;
  z-index: 30;
}

.cardMushroom {
  margin-top: 50px;
  margin-left: -160px;
  position: absolute;
  z-index: 10;
}

.cartExpression {
  margin-top: 112px;
  margin-left: 120px;
  position: absolute;
  z-index: 20;
}

.cartRightItem {
  margin-top: 72px;
  margin-left: 43px;
  position: absolute;
  z-index: 30;
  height: 70px;
}

.cartLeftItem {
  margin-top: 72px;
  margin-left: 200px;
  position: absolute;
  z-index: 30;
}

.cartMushroom {
  margin-top: 42px;
  margin-left: -10px;
  position: absolute;
  z-index: 10;
}

.cartItem {
  margin-left: 0px;
  height: 250px;
  width: 600px;
  border: 4px dashed rgb(172, 233, 235);
  border-radius: 20px;
  box-shadow: 0px 0px 8px #ccc;
}

.cartItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 70px;
}

.checkbox {
  margin-top: 100px;
  margin-left: 300px;
  width: 20px;
  height: 20px;
}

.checkBoxLabel {
  font-family: sans-serif;
}

.checkOutContainer {
  border: 4px solid rgb(253, 207, 106);
  width: 200px;
  height: 250px;
  margin-top: 70px;
  margin-left: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 8px #ccc;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.checkOutText {
  margin-top: 25px;
  text-align: center;
}

.checkoutBtn {
  color: white;
  margin-top: 40px;
  height: 25px;
  border-radius: 8px;
  background: #fec5bb;
  font-size: 15px;
  text-decoration: none;
  border-color: #f2988a;
  margin-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
}

.removeBtn {
  margin-top: 20px;
  margin-left: 300px;
  color: white;
  height: 30px;
  border-radius: 8px;
  background: #577563;
  font-size: 18px;
  text-decoration: none;
  border-color: #D8E2DC;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;

}